BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: Empty
SortIncludes: true
PointerAlignment: Left
AllowShortIfStatementsOnASingleLine: true
InsertNamespaceComments: true